{
  email {$SISMOD_TLS_EMAIL}
}

{$SISMOD_DOMAIN} {
  encode zstd gzip
  reverse_proxy web:8000
  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Content-Type-Options nosniff
    Referrer-Policy strict-origin-when-cross-origin
  }
  log {
    format filter {
      wrap json
      fields {
        request>uri delete
        request>headers delete
      }
    }
  }
}

{$SISMOD_MEDIA_DOMAIN} {
  encode zstd gzip
  reverse_proxy mediamtx:8889
  log {
    format filter {
      wrap json
      fields {
        request>uri delete
        request>headers delete
      }
    }
  }
}

{$SISMOD_STORAGE_DOMAIN} {
  reverse_proxy minio:9000
  log {
    format filter {
      wrap json
      fields {
        request>uri delete
        request>headers delete
      }
    }
  }
}
